body {
    background-image: url('https://i.imgur.com/DKdvFOb.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

.order-form-container {
    background: white;
    position: relative;
    z-index: 1;
    border: 2px solid black;
    padding: 40px;
    margin: 10px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.order-here {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 0.9) 100%);
    position: relative;
    z-index: 1;
    border: 1px solid black;
    padding: 8px;
    margin: 0px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    color: white;
    text-shadow: 0 0 10px #f06, 0 0 20px #f06, 0 0 30px #f06;

}

#pizza-form {
    align-self: flex-start;
    width: 100%;
}

input, 
select,
button {
    margin-bottom: 10px;
}

label {
    margin-bottom: 10px;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.checkbox-input {
    margin-right: 5px;
}


