#menu-header {
  font-family: "AmstelvarAlpha";
  font-size: 4em;
  text-align: center;
  color: pink;
  text-shadow: -1px -1px 0 red;
}

#menu-container {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fe6bb7;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  text-align: center;
  padding: 20px;
}

#order-pizza {
  display: flex;
  justify-content: right;
  padding: 10px;
  text-decoration: none;
  color: red;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  letter-spacing: 2.5px;
  font-size: 1em;
  font-weight: bold;
  padding: 8px 16px;
  border: 1px solid #333;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

#menu-link:hover,
#order-pizza:hover {
  background-color: yellow;
  color: #fff;
}

#menu-link {
  display: flex;
  justify-content: left;
  background-color: black;
  padding: 10px;
  text-decoration: none;
  color: rgb(255, 0, 132);
  padding: 8px 16px;
  border: 1px solid #333;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  cursor: pointer;
}
